@using Project.MVCUI.Areas.SuperAdmin.Models.ViewModels;
@model MaterialVM

<link href="~/css/CenterDiv.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="centered-div">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Malzeme Güncelleme Ekranı</h3>
            </div>
            <form method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label class="col-md-3">Marka Adı</label>
                        <input autocomplete="off" asp-for="Brand" type="text" class="form-control" value="@Model.Brand" placeholder="@Model.Brand">
                        <span style="color:red" asp-validation-for="Brand"></span>
                        @if (TempData["extBrand"] != null)
                        {
                            <span style="color:red">@TempData["extBrand"]</span>
                        }
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Model Adı</label>
                        <input autocomplete="off" asp-for="Model" type="text" class="form-control" value="@Model.Model" placeholder="@Model.Model">
                        <span style="color:red" asp-validation-for="Model"></span>
                        @if (TempData["extModel"] != null)
                        {
                            <span style="color:red">@TempData["extModel"]</span>
                        }
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Fiyat</label>
                        <input autocomplete="off" asp-for="Price" type="text" class="form-control" value="@Model.Price" placeholder="@Model.Price">
                        <span style="color:red" asp-validation-for="Price"></span>
                        @if (TempData["extPrice"] != null)
                        {
                            <span style="color:red">@TempData["extPrice"]</span>
                        }
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Miktar</label>
                        <input autocomplete="off" asp-for="Amount" type="text" class="form-control" value="@Model.Amount" placeholder="@Model.Amount">
                        <span style="color:red" asp-validation-for="Amount"></span>
                        @if (TempData["extAmount"] != null)
                        {
                            <span style="color:red">@TempData["extAmount"]</span>
                        }
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Malzeme Tipi</label>
                        <select id="myInput" asp-for="MaterialTypeID" asp-items="@Model.materialTypes" class="form-control">
                            <option selected="@Model.MaterialTypeID" disabled>Lütfen Bir Tip Seçiniz</option>
                        </select>
                        <span style="color:red" asp-validation-for="Amount"></span>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Malzeme Güncelle</button>
                    <button asp-area="SuperAdmin" asp-controller="Material" asp-action="Index" class="btn btn-primary" style="float:right">Geri</button>
                </div>
            </form>
        </div>
    </div>
</div>